pytest==9.0.2
pytest-cov==7.0.0
pytest-mock==3.15.1
responses==0.25.8
pylint==4.0.4
requests==2.32.5
black==26.1.0
PyYAML==6.0.3
semver==3.0.4
mypy==1.19.1
mypy-extensions==1.1.0
types-requests==2.32.4.20260107
types-PyYAML==6.0.12.20250915
types-jsonschema>=4.23.0
types-Markdown>=3.10.0
pre-commit==4.5.1
jsonschema>=4.20.0
rfc3339-validator>=0.1.4
Jinja2>=3.1.0
Markdown>=3.5.0
