<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ meta.document_title }}</title>
    <style>
        {% include 'styles.css' %}
    </style>
</head>
<body>
    {% set items = data.get('items', []) | natural_sort(attribute='id') %}
    {% include 'cover.html.jinja' %}
    {% include 'toc.html.jinja' %}
    <main class="chapters">
        {% for item in items %}
            {% include 'user_story.html.jinja' %}
        {% endfor %}
    </main>
</body>
</html>
