<section class="toc">
    <h2 class="toc-title">Table of Contents</h2>
    <ul class="toc-list">
        {% if user_stories %}
        {% if features or functionalities %}<li class="toc-group-label"><span class="toc-text">User Stories</span></li>{% endif %}
        {% for item in user_stories %}
        {% set short_id = item.id.split('/') | last %}
        <li class="toc-entry">
            <a class="toc-link" href="#{{ short_id }}">
                <span class="toc-id">{{ short_id }}</span>
                <span class="toc-text">{{ item.title }}</span>
                {% if item.state %}
                <span class="toc-state state-{{ item.state | lower }}">{{ item.state }}</span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
        {% endif %}
        {% if features %}
        <li class="toc-group-label"><span class="toc-text">Features</span></li>
        {% for item in features %}
        {% set short_id = item.id.split('/') | last %}
        <li class="toc-entry toc-feature">
            <a class="toc-link" href="#{{ short_id }}">
                <span class="toc-id">{{ short_id }}</span>
                <span class="toc-text">{{ item.title }}</span>
                {% if item.state %}
                <span class="toc-state state-{{ item.state | lower }}">{{ item.state }}</span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
        {% endif %}
        {% if functionalities %}
        <li class="toc-group-label"><span class="toc-text">Functionalities</span></li>
        {% for item in functionalities %}
        {% set short_id = item.id.split('/') | last %}
        <li class="toc-entry toc-functionality">
            <a class="toc-link" href="#{{ short_id }}">
                <span class="toc-id">{{ short_id }}</span>
                <span class="toc-text">{{ item.title }}</span>
                {% if item.state %}
                <span class="toc-state state-{{ item.state | lower }}">{{ item.state }}</span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
        {% endif %}
        {% for item in items %}
        {% set short_id = item.id.split('/') | last %}
        <li class="toc-entry">
            <a class="toc-link" href="#{{ short_id }}">
                <span class="toc-id">{{ short_id }}</span>
                <span class="toc-text">{{ item.title }}</span>
                {% if item.state %}
                <span class="toc-state state-{{ item.state | lower }}">{{ item.state }}</span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
